@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:400,700&subset=latin-ext');

/* Colors */
/* #1e1f26 dark blue */
/* #283655 blue */
/* #d0e1f9 light blue */

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background: #1e1f26;
   color: #1e1f26;
   font-size: 16px;
   font-family: 'Lato', sans-serif;
}

ul, ol {
   list-style-position: inside;
}

p {
   padding-top: 1em;
}

p:first-child {
   margin-top: 0;
   padding-top: 0;
}

a {
   text-decoration: none;
   color: #d0e1f9;
}

.title-link-dark {
   text-decoration: underline;
   color: #283655;
}

.title-link-light {
   text-decoration: underline;
   color: #d0e1f9;
}

img {
   max-width: 100%;
   height: auto;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Oswald', sans-serif;
   padding-top: 0.5em;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
   padding-top: 0;
}
h1 {
   font-size: 2em;
}


/* Header */
header {
   background: #283655;
   color: #d0e1f9;
   padding: 0 20px;
   display: flex;
   align-items: stretch;
   justify-content: space-between;
}

header h1 {
   line-height: 85px;
}

header ul li {
   list-style-type: none;
   display: inline-block;
}

header ul li a {
   line-height: 85px;
   display: block;
   padding: 0 1rem;
   font-weight: bold;
}

header ul li:hover, .current {
   background: #1e1f26;
}
/* End Header */

/* Main, sidebar and content */
main {
   display: flex;
   flex-wrap: wrap;
   padding: 2em 5%;
   min-height: calc(100vh - 4em - 85px);
}

aside {
   background: #d0e1f9;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 30%;
   min-width: calc(250px - 4rem);
}

.block {
   margin: 0.5rem 0.5rem 2rem 0.5rem;
   background: #fff;
}
.block h2 {
   text-align: center;
   color: #fff;
   line-height: 50px;
}

section .content {
   max-width: 750px;
   margin: 0 auto;
}

#content {
   background: #fff;
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: 70%;
   display: flex;
   flex-direction: column;
}

.column {
   padding: 2rem;
}

.column-2 {
   column-count: 2;
   column-gap: 2rem;
   max-width: unset;
}

.column-3 {
   column-count: 3;
   column-gap: 2rem;
   max-width: unset;
}

.row {
   max-width: 1280px;
   width: 90%;
   margin: 0 auto;
}

.small_img {
   max-width: 80px;
}

footer {
   background: #d0e1f9;;
   color: #283655;
   padding: 20px;
   text-align: center;
   clear: both;
}
/* End Main, sidebar and content */

/* One Page */
#one-page {
	padding-top: 85px;
}

#one-page header {
	width: 100%;
	position: fixed;
   top: 0;
   box-shadow: 0 3px 6px -2px rgba(0,0,0,0.5);
}

#one-page main {
   display: block;
   padding: 0;
}

#one-page main section {
   padding: 5rem 5%;
}

#one-page section h2 {
   text-align: center;
   margin-bottom: 1em;
}
/* End OnePage */

/* Article */
.article_list_dark, .comments {
   background: #283655;
}
.article_list_dark h1, .comments h3 {
   color: #d0e1f9;
}
.article_list_dark p, .comments p {
   color: #d0e1f9;
}
.article_list_dark a {
   text-decoration: underline;
   color: #d0e1f9;
}

.article_list_light {
   background: #fff;
}
.article_list_light h1 {
   color: #283655;
}
.article_list_light p {
   color: #283655;
}
.article_list_light a {
   text-decoration: underline;
   color: #283655;
}

.comment {
   margin: 1rem 0;
   padding: 1rem;
   background: #fff;
   border-left: solid 10px #d0e1f9;
}
.comment p {
   color: #1e1f26;
}
.comment_author {
   font-weight: bold;
}

.comment_child {
   margin-left: 3rem;
}
/* End Article */

/* Helpers */
.alignleft {
   float: left;
   margin-right: 1em;
   margin-bottom: 1em;
}

.alignright {
   float: right;
   margin-left: 1em;
   margin-bottom: 1em;
}

.aligncenter {
   display: block;
   margin: 1em auto;
}

.clearleft {
   clear: left;
}

.clearright {
   clear: right;
}

.clear {
   clear: both;
}

.list li {
   padding: 10px;
}
.list li:nth-child(even) {
   background: #eee;
}
.list li a {
   color: #283655;
}
/* End Helpers */

/* Colors */
.red {
   background: #e53935;
}

.white {
   background: #fff;
   color: #1e1f26;
}

.blue {
   background: #283655;
}

.green {
   background: #388e3c;
}
/* End Colors */